.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
    display: block;
    text-decoration:none;
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    padding-right: 30px;
    padding-left: 30px;
}
.file-upload__label:hover {
    color: #93FAFF;
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

